# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore Gradle's build output directories:
/HeartAssets/build/
/HeartExamples/build/
/HeartLibrary/build/
/J3oDump/build/

# Ignore the Acorus sandbox:
/HeartExamples/Written Assets/

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/
